.employee
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    &__name
        margin: 0 0 auto 0
        font-size: 1.1rem
        font-weight: 700
    &__form
    &__input-wrap
        margin: 5px 0
        display: block
        // display: flex
        // align-items: center
        cursor: pointer
    & input
        margin-right: 10px
        vertical-align: middle